@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Montserrat&display=swap');

header{
	color: saddlebrown;
}

body{
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	background-color: lightgoldenrodyellow;
	padding: 0;
}

nav {
	background-color: saddlebrown;
	border-top: 2px black;
	border-bottom: 2px black;
}

a:link{
color: lightgoldenrodyellow;
}
a:visited{
color: lightgoldenrodyellow;
}
a:hover{
color: lightgoldenrodyellow;
}
a:active{
color: saddlebrown;
}

/* Vertical Navigation bar */

nav ul{
	list-style-type: none;
	text-align: center;
	padding: 10px;
}
nav li{
	display: inline;
}
nav a{
	text-decoration: none;
	padding-right: 10px;
}
nav a:link{
	color: lightgoldenrodyellow;
}
nav a:visted{
	color: lightgoldenrodyellow;
}
nav a:hover{
	color: lightgoldenrodyellow;
}
nav a:active{
	color: lightgoldenrodyellow;
}

h1{
	text-align: center;
	font-size: 4em;
}

main{
	max-width: 1200px;
	margin: 20px auto;
}

.Otter {
	text-align: center;
}

img{
	margin:0 auto;
	border-radius: 30px;
}

footer{
	text-align: center;
	border-top: 1px solid gray;
	padding: 10px;
	color:lightgoldenrodyellow;
	background-color: saddlebrown;
}

footer p{
	font-size: 13px;
}

/* CSS for Tablets */

@media only screen and (max-width: 1024px){
	h1{
		font-size: 2em;
	}
}

/* CSS Adjustments for Smartphones */

@media only screen and (max-width: 768px){
	h1{
		font-size: 1.5em;
	}
}
.home-hero{
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	height: auto;
}
/* ================= */
.gallery .preview{
    width:100%
    height:auto;
}

.gallery .gallery-thumbnails img {
    width:100px;
    height:75px;
    margin: 3px 10px 10px 0;
}

.gallery .gallery-thumbnails img:hover {
    opacity: .8;
    cursor: pointer;
}

.gallery .preview img#preview {
    padding: 1px;
    max-width: 100%;
    height: auto;
    margin: 0 auto !important;
    display: block !important;
}
