@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Montserrat&display=swap');

header{
	color:goldenrod;
}

body{
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	background-color: darkslategrey;
	padding: 0;
}

nav {
	background-color: goldenrod;
	border-top: 2px black;
	border-bottom: 2px black;
}

a:link{
color: goldenrod;
}
a:visited{
color: goldenrod;
}
a:hover{
color: white;
}
a:active{
color: goldenrod;
}

/* Vertical Navigation bar */

nav ul{
	list-style-type: none;
	text-align: center;
	padding: 10px;
}
nav li{
	display: inline;
}
nav a{
	text-decoration: none;
	padding-right: 10px;
}
nav a:link{
	color: darkslategrey;
}
nav a:visited{
	color: darkslategrey;
}
nav a:hover{
	color: white;
}
nav a:active{
	color: darkslategrey;
}

h1{
	text-align: center;
	font-size: 4em;
}

main{
	max-width: 1200px;
	margin:0 auto;
}

footer{
	text-align: center;
	border-top: 1px solid gray;
	padding: 10px;
	color:goldenrod;
}

/* CSS for Tablets */

@media only screen and (max-width: 1024px){
	h1{
		font-size: 2em;
	}
}

/* CSS Adjustments for Smartphones */

@media only screen and (max-width: 768px){
	h1{
		font-size: 1.5em;
	}
}

.home-hero{
	background-image:url(puppies/puppies/header.jpg);
	height: 475px;
	background-size:cover;
	background-position: center;
	color: #042837;
	padding: 10px 10px 10px 30px;
}

img{
	display:block;
	margin:0 auto;
	border-radius: 30px;
}

blockquote{
	margin: 20px;
	background-color: #gray;
	color:goldenrod;
	text-align: center;
}

.fa{
	color: goldenrod;
	font-size: 40px;
}

.row{
	background-color: darkslategrey;
}

p{
	color:goldenrod;
	text-align: center;
}